@model CRMProjectUI.Models.AnnouncementCreateDto
@{
    ViewData["Title"] = "Yeni Duyuru";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="section-header">
    <h1>Yeni Duyuru</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a href="/">Anasayfa</a></div>
        <div class="breadcrumb-item"><a href="/AdminDuyuru/Liste">Duyurular</a></div>
        <div class="breadcrumb-item">Yeni Duyuru</div>
    </div>
</div>

<div class="section-body">
    @await Html.PartialAsync("_AnnouncementForm", new CRMProjectUI.Models.AnnouncementFormViewModel
    {
        CreateDto = Model ?? new CRMProjectUI.Models.AnnouncementCreateDto(),
        FormAction = "/AdminDuyuru/Ekle",
        IsEdit = false,
        AnnouncementId = 0,
        ExistingFiles = new List<CRMProjectUI.Models.AnnouncementFileDto>()
        })
</div>